@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #ffffff;
  --chat-bg: #09090b;
  --sidebar-bg: #09090b;
  --accent: #ff3e3e;
  --border: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

*,
*::before,
*::after {
  @apply box-border;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

.overflow-hidden {
  overflow: hidden !important;
}

.chat-markdown code {
  @apply bg-[#18181b] rounded-md px-2 py-0.5 text-sm;
}

.chat-markdown pre {
  @apply bg-[#18181b] rounded-lg p-3 overflow-x-auto border border-zinc-700;
}

.input-box {
  min-height: 24px;
}

.btn-bg {
  @apply bg-[#ff3e3e] p-2 hover:bg-[#e03636] transition-colors;
}

.stop-btn {
  @apply flex items-center gap-2 py-2 px-4 text-sm bg-[#1e1e22] rounded-full hover:bg-[#2a2a2e] transition-colors;
}

.dots-loader::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
